# Byte-compiled / Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Do NOT ignore outputs or supplementary folders
# These contain your project results and GIFs
